@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Chivo:wght@100;200;300;400;500;600;700;800;900&family=Kalam:wght@700&family=Pragati+Narrow:wght@700&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Chivo', Arial, Helvetica, sans-serif;
}

:root {
  --blue-1: #011526;
  --blue-2: #023059;
  --blue-3: #035AA6;
  --blue-4: #0367A6;
  --blue-5: #91BBF2;
}

body {
  background-color: var(--blue-1);
  color: white;

  margin: auto;
}

#about, #projects, #contacts {
  padding: 0 40px 40px 40px;
}

section {
  /* height: 100vh; */
}

/* ********** Intro Section ********** */
#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-image: radial-gradient(circle , var(--blue-2), var(--blue-1));
  height: 100vh;
}

#intro .container {
  margin: auto;
  width: 325px;
}

#intro .name {
  font-size: .8em;
  text-transform: uppercase;
  color: var(--blue-5);

  margin-bottom: 5px;
}

#intro .office-socials {
  display: flex;
  justify-content: space-between;
}

#intro .office {
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: .8em;

}

#intro .social {
  display: flex;
}

#intro a {
  display: flex;
  padding: 0 5px;
}

#intro a:hover {
  transition: all .3s;
  scale: 120%;
}

#intro img {
  width: 15px;
  fill: white;
}

#intro img {
  width: 15px;
  fill: white;
}

#intro .linkedin {
  width: 17px;
}

#intro .developer {
  text-align: end;
}

#intro .description {
  font-size: .55em;
  font-weight: 100;
  text-align: end;
  text-transform: uppercase;

  margin-top: 5px;
}

/* ********** About Section ********** */
#about {
  background: url('../img/profile-pic.jpg') no-repeat center center fixed;
  background-size: contain;
}

#about h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 30px 0;
  color: var(--blue-3);
}

#about h2 {
  font-size: .8em;
  font-weight: 300;
  margin: 10px 0;
}

#about strong {
  font-weight: 600;
}

#about p {
  font-size: .7em;
  font-weight: 100;
  line-height: 1.5em;
}

#about ul {
  column-count: 2; 
}

#about li {
  list-style: none;
}

#about h3 {
  font-size: 1.1em;
  font-weight: 700;
  margin: 30px 0 10px 0;
  color: var(--blue-4);
}

/* #about ol {
  column-count: 2; 
} */

#about ol > li {
  display: inline-block;
  margin: 5px 0;
}

#about .date {
  display: inline-block;
  background-color: var(--blue-4);
  padding: 3px;
  border-radius: 15px;
  font-size: .6em;
  margin-bottom: 5px;
}

#about .title {
  font-weight: 500;
  font-size: 1em;
}

#about .office {
  font-size: .6em;
}

#about .description {
  font-size: .7em;
}

#about .arrow {
  margin-left: 50px;
  font-size: 1em;
  color: var(--blue-5);
}

/* ********** Projects Section ********** */
#projects {
  height: 100vh;
  background-color: var(--blue-1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects h1 {
  /* text-align: center; */
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 30px 0;
  color: var(--blue-3);
}

#projects .project {
  border: 2px solid var(--blue-5);
  margin-top: 50px;
  width: 200px;
  height: 200px;
}

#projects .project-title {
  font-weight: 700;
  font-size: 1.2em;
  margin-top: 10px;
}

#projects .project-description {
  font-weight: 100;
  font-size: .7em;
  text-align: center;
  width: 200px;
}

/* ********** Contacts Section ********** */
#contacts {
  height: 30vh;
  background-color: var(--blue-5);

  display: flex;
  flex-direction: column;
  align-items: center;
}

#contacts h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 30px 0;
  color: var(--blue-2);
}

#contacts li {
  color: var(--blue-3);
  list-style: none;
  margin-bottom: 25px;
  display: flex;
}

#contacts img {
  width: 35px;
  margin-right: 10px;
}

#contacts .title {
  font-size: 1em;
}

#contacts .description {
  font-size: .8em;
}

footer {
  background-color: var(--blue-5);
  color: var(--blue-2);
  font-size: .6em;
  padding: 5px;
  text-align: center;
}