@media (min-width: 768px) and (max-width: 1023px) {
  #intro .container {
    width: 550px;
  }
  
  #intro .name {
    font-size: 1.2em;
  }
  
  #intro .office {
    font-size: 4.5em;
  }
  
  #intro img {
    width: 30px;
  }
  
  #intro .linkedin {
    width: 32px;
  }
  
  #intro .description {
    font-size: .8em;
  }

  #about, #projects, #contacts {
    padding: 0 15% 40px 15%;
  }
}

@media (min-width: 1024px) {
  #intro .container {
    width: 700px;
  }

  #intro .container-lang {
    top: 25%;
  }

  #intro .container-lang p {
    font-size: 1em;
  }

  #intro .container-lang button {
    width: 125px;
    font-size: 1em;
  }

  #intro .container-lang button img {
    width: 25px;
  }
  
  #intro .name {
    font-size: 1.4em;
  }
  
  #intro .office {
    font-size: 5.5em;
  
  }
  
  #intro img {
    width: 35px;
  }
  
  #intro .linkedin {
    width: 37px;
  }
  
  #intro .description {
    font-size: .9em;
  }

  /* ********** About Section ********** */
  #about, #projects, #contacts {
    padding: 0 30% 40px 30%;
  }

  #about h1, #projects h1, #contacts h1 {
    font-size: 3em;
  }

  #about h2 {
    font-size: 1.2em;
  }

  #about h3 {
    font-size: 1.5em;
  }

  #about p {
    font-size: .9em;
  }

  #about .date {
    font-size: .8em;
    padding: 5px;
  }
  
  #about .title {
    font-size: 1.2em;
  }
  
  #about .office {
    font-size: .8em;
  }
  
  #about .description {
    font-size: 1em;
  }
  
  #about .arrow {
    font-size: 1.2em;
    margin-left: 35px;
  }

  /* ********** Projects Section ********** */
  #projects .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  #projects .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* ********** Contacts Section ********** */
  #contacts ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  footer {
    font-size: .8em;
  }
}
